.cc{
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}
.cc *{
    box-sizing: border-box;
    border: 1px solid black;
}
.cc > header{
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
}
.cc > nav{
    position: absolute;
    top: 10%;
    left: 0;
    height: 85%;
    width: 20%;
}
.cc > .edit-section{
    position: absolute;
    top: 10%;
    left: 20%;
    height: 85%;
    width: 80%;
    /*border-radius: 50%;*/
}
.cc > .edit-section > *{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*border-radius: 50%;*/
}
.view-section *{
    box-sizing: border-box;
    border: 1px solid black;
}
.view-section{
    box-sizing: border-box;
    border: 1px solid black;
    box-sizing: border-box;
    position: absolute;
    top: 70%;
    left: 65%;
    height: 150px;
    width: 275px;
    z-index: 10;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    /*transition-property: , bottom;*/
    transition: left ease-out 0.1s, top ease-out 0.1s, width ease-in-out 1s, height ease-in-out 1s;
    /*z-index: 1;*/
}
.view-section > iframe{
    display: block;
    position: absolute;
    left: 0;
    top: calc(10% + 30px);
    height: calc(90% - 30px);
    width: 100%;
}
._gd_window{
    position: absolute;
    top: 30px;
    left: 0;
    height: calc(90% - 30px);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(51, 255, 0, 0.507);
}

._gd_window .control-panel{
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    background-color: tomato;
    width: 100%;
}
._gd_window  .control-panel > div{
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    background-color: blueviolet;
    border: 2px solid black;
    width: 15%;
    margin: 0;
}